.bodyclass{
  text-align: center;
  margin: 0;
  background-color: #D8E9A8;
}
.signupform{
  color: #DFD8CA;
  background-color: #B91646;
  margin: 10px 200px 25px 200px;
  padding: 30px ;
  box-shadow: 10px 10px black;
}
.hbtnd{
  text-align: left;
}
.hbtn{
  font-size:20px;
  border-radius: 4px;
  font-weight: bold;
}
.sp{
  color: #DFD8CA;
}
.cbtn{
  padding: 4px 8px;
  font-weight: bold;
  font-size: 15px;
  border-radius: 4px;
}
.cbtn:hover{
  cursor: pointer;
}
.footer-container{
  height: 90px;
  padding: 10px 0 10px 0;
  color: #3E065F;
  background-color: #88E0EF;
  font-size: 20px;
}
