.bodyclass{
  text-align: center;
  margin: 50px 0 0 0;
  background-color: #D8E9A8;
}
.navbar{
  margin: 0 10%;
  border-radius: 30px;
  padding: 10px 4px;
  background-color:#E1578A;
}
.btn{
  padding: 6px 10px;
  margin: 0 30px;
  border-radius: 20px;
  background-color: black;
  color: white;
  font-weight: bold;
}
.btn:hover{
  background-color: white;
  color: black;
  cursor: pointer;
}
.thumbnails{
  margin-top: 40px;
  padding-top: 30px;
  background-color:#E8E1D9;
}
.hr1{
  max-width: 90%;
}
#Delhi{
  position: absolute;
  margin: -4% 0 0 11%;
}
#Jaisalmer{
  position: absolute;
  margin: -4% 0 0 34.5%;
}
#Kasauli{
  position: absolute;
  margin: -4% 0 0 60%;
}
#Leh-Laddakh{
  position: absolute;
  margin: -4%  0 0 83%;
}
#Manali{
  position: absolute;
  margin:-4% 0 0 10.5%;
}
#Munnar{
  position: absolute;
  margin: -4% 0 0 35%;
}
#Mysore{
  position: absolute;
  margin: -4% 0 0 60%;
}
#Ooty{
  position: absolute;
  margin: -4%  0 0 86%;
}
#Sikkim{
  position: absolute;
  margin: -4% 0 0 10.5%;
}
#Srinagar{
  position: absolute;
  margin: -4% 0 0 35%;
}
#Goa{
  position: absolute;
  margin: -4% 0 0 61.5%;
}
#Rishikesh{
  position: absolute;
  margin: -4%  0 0 84.5%;
}
.textOverlay{
  font-weight:bolder;
  color: #D5D5D5;
  font-size: 20px;
  position: absolute;
  margin: -50px 0 0 145px;
}
.textOverlay:hover{
  opacity: 0.5;
}
.photo{
  border-radius: 10%;
  margin: 20px 30px 20px 35px;
}
.photo:hover{
  opacity: 0.8;
  cursor: pointer;
}
.footer-container{
  height: 90px;
  margin:auto;
  padding: 10px 0 10px 0;
  color: #3E065F;
  background-color: #88E0EF;
  font-size: 20px;
}
